.botonverproductos {
    background-color: #667eea !important;
    border-color: #667eea !important;
    color: white !important;
}

.acciones h3 {
    color: #764ba2;
}

.contenedor-img-baraja {
    height: 200px; 
    width: 100%; 
    overflow: hidden; 
    background-color: #f8f9fa
}

.contenedor-img-baraja img {
    width: 100%; 
    height: 100%; 
    object-fit: contain; 
    border-radius: 8px 8px 0 0; 
}

.tipos-de-tarot i {
    font-size: 3rem;
}

.card-baraja {
    border-top-width: 4px !important;
    border-top-style: solid !important;
}